#gid_0335_cell_001 {
	position:absolute;
	background-color:#FFFFFF;
/*	border-style: double; */
	top:0.0000px;
	left:0.0000px;
	width:405.00px;
	height:20.00px;
}
#gid_0335_cell_001_object_001_QC_Status_instance {
	background-color:#FFFFFF;
	position:absolute;
	top:0.0000px;
	left:0.0000px;
	width:50px;
	height:20.00px;
	color:#000000;
	font-size:12.00px;
	font-family:"";
}
#gid_0335_cell_001_object_002_QC_Status_instance {
	background-color:#FFFFFF;
	position:absolute;
	top:0.0000px;
	left:70.9062px;
	width:50px;
	height:20.00px;
	color:#000000;
	font-size:12.00px;
	font-family:"";
}
#gid_0335_cell_001_object_003_QC_Status_instance {
	background-color:#FFFFFF;
	position:absolute;
	top:0.0000px;
	left:130.0937px;
	width:100px;
	height:20.00px;
	color:#000000;
	font-size:12.00px;
	font-family:"";
}
#gid_0335_cell_001_object_004_QC_Status_instance {
	background-color:#FFFFFF;
	position:absolute;
	top:0.0000px;
	left:230.0937px;
	width:300px;
	height:16.00px;
	color:#000000;
	font-size:12.00px;
	font-family:"";
}